@import url('./css/clash-display.css');

/* global styles */
:root {
    --bg-color: #1e1e1d;
    --text-color: #aeac92;
    --txt-clr-secondary: #efefef;
    --accent-color: #ff5800;
    --invalid-color: #ff0000;

    box-sizing: border-box;
    margin: 0;
    font-family: "ClashDisplay-Regular", sans-serif;
    letter-spacing: 0.0875rem;
    color: var(--txt-clr-secondary);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    height: 100vh;
}

.content,
.info,
.login,
.input-field,
h2,
.btn-container {
    padding: 0 48px;
}

h1 {
    font-family: "ClashDisplay-Bold", sans-serif;
    color: var(--txt-clr-secondary);
    font-size: 3rem;
}

p {
    font-family: "ClashDisplay-Regular", Sans-serif;
    font-size: 1.25rem;
    color: var(--text-color);
    max-width: 65ch;
}

/* Links */
a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    color: #ff8c00;
}

/* left side content*/
.bg-image {
    height: 100vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-image: url('./photos/Training.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Right side content */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 70%;
}

.info {
    padding-bottom: 3rem;
}

/* form styling */
label,
input {
    font: 0.75rem "ClashDisplay-Regular", sans-serif;
    letter-spacing: 0.05rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.input-field {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 2%;
    max-width: 800px;
}

label {
    min-width: 90px;
    color: var(--txt-clr-secondary);
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    background: #111111;
}

input {
    height: 28px;
    border: 1px solid #31302b;
    border-radius: 8px;
    background: rgba(174, 172, 146, 0.20);
    color: var(--text-color);
    padding-left: 0.75rem;
}

input:invalid {
    border: 1px solid var(--invalid-color);
}

.terms {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 0;
}

.t-and-c {
    text-transform: none;
}

/* button styling */
button {
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 4px;
    background: var(--accent-color);
    color: var(--txt-clr-secondary);
    font-family: "ClashDisplay-Bold";
    letter-spacing: 0.05rem;
}

button:hover {
    background: #ff8c00;
    cursor: pointer;
}

.btn-container {
    padding-top: 2rem;
}

.login {
    font-size: 1rem;
    color: var(--txt-clr-secondary);
    letter-spacing: 0.05rem;
    text-transform: none;
}
